@use "../util" as u;

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1.1;
  font-weight: 500;
  text-align: center;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

p {
  color: var(--grayishblue);
  text-align: center;
  font-weight: 400;
  font-size: u.rem(16);
  line-height: 1.5;
  margin: 0;
}
