@use "../util" as u;

h1 {
  margin-top: 0;
  line-height: 1.1;
  font-weight: 500;
  font-size: u.rem(28);
  text-align: center;

  @include u.breakpoint-up(large) {
    font-size: u.rem(40);
  }
}

h2 {
  margin-top: 0;
  line-height: 1.1;
  font-weight: 500;
  font-size: u.rem(24);
  text-align: center;

  @include u.breakpoint-up(large) {
    font-size: u.rem(30);
  }
}

h3 {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.1;
  font-weight: 500;
  font-size: u.rem(20);
  text-align: center;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

p {
  color: var(--grayishblue);
  text-align: center;
  font-weight: 400;
  font-size: u.rem(16);
  line-height: 1.5;
  margin: 0;
}
