@use "../util" as u;

.faqs {
  &__container {
    @include u.breakpoint-up(large) {
      padding-top: u.rem(70);
      max-width: 59%;
    }
  }

  &__text {
    padding-bottom: u.rem(40);

    @include u.breakpoint-up(medium) {
      margin: 0 auto;
      max-width: 60%;
    }

    @include u.breakpoint-up(large) {
      padding: 0 u.rem(15) u.rem(40);
    }
  }

  &__accordion {
    &--item {
      border-bottom: u.rem(2) solid #f0f0f0;
      padding-top: u.rem(25);
      cursor: pointer;

      &:hover {
        color: var(--softred);
      }
    }

    &--button {
      display: flex;
      justify-content: space-between;
      padding-bottom: u.rem(15);

      h3 {
        font-size: u.rem(15);
        font-weight: 500;
      }
    }

    &--content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 1400ms ease;

      p {
        color: var(--dimgray);
        padding-top: u.rem(15);
        padding-bottom: u.rem(30);
        text-align: start;
        line-height: 2.1;
        font-size: u.rem(14);
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    padding-top: u.rem(60);
    padding-bottom: u.rem(100);

    &--button {
      display: inline-block;
      background-color: var(--softblue);
      border: u.rem(2) solid var(--softblue);
      border-radius: u.rem(5);
      box-shadow: 0 u.rem(3) u.rem(12) rgba(0, 0, 0, 0.2);
      color: var(--white);
      font-size: u.rem(14);
      font-weight: 500;
      padding: u.rem(10) u.rem(22);

      &:hover {
        background-color: var(--white);
        color: var(--softblue);
        transition: all 300ms ease-in-out;
      }
    }
  }
}

.faqs__accordion--item.active .faqs__accordion--content {
  max-height: u.rem(300);
  animation: fade 600ms ease-in-out;
}

.faqs__accordion--item.active svg {
  transform: rotate(180deg);

  path {
    stroke: var(--softred);
  }
}

svg {
  transition: transform 500ms ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(u.rem(-10));
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
