@use "../util" as u;

.faqs {
  &__container {
  }

  &__text {
    padding-bottom: 40px;
  }

  &__accordion {
    &--item {
    }

    &--button {
      border: none;
      background: none;
      outline: none;
    }

    &--content {
    }
  }
}

.arrow-icon {
  display: block;
  background-image: url(../../../images/icon-arrow.svg);
  background-position: center;
  height: 8px;
  width: 16px;
}

// button {
//   border: none;
//   background: none;
//   outline: none;
// }
