@use "../util" as u;

.faqs {
  &__container {
  }

  &__text {
    padding-bottom: 40px;
  }

  &__accordion {
    &--item {
      border-bottom: 0.125rem solid #f0f0f0;
      padding-top: 25px;
      cursor: pointer;
    }

    &--button {
      display: flex;
      justify-content: space-between;
      padding-bottom: 15px;

      h3 {
        font-size: 16px;
        font-weight: 400;
      }
    }

    &--content {
      max-height: 0;
      overflow: hidden;

      p {
        padding-top: 15px;
        padding-bottom: 30px;
        text-align: start;
        line-height: 1.8;
      }
    }
  }
}

.arrow-icon {
  background-image: url(../../../images/icon-arrow.svg);
  background-position: center;
  height: 12px;
  width: 16px;
}

.faqs__accordion--item.active .faqs__accordion--content {
  max-height: 300px;
}
