@use "../util" as u;

.feature {
  &__container {
    padding-top: u.rem(68);
    padding-bottom: u.rem(68);

    @include u.breakpoint-up(large) {
      padding-bottom: 0;
    }
  }

  &__text {
    padding-bottom: u.rem(40);

    @include u.breakpoint-up(large) {
      max-width: 44%;
      margin: 0 auto;
    }
  }

  &__bookmarks {
    @include u.breakpoint-up(large) {
      padding-top: u.rem(40);
      // border-bottom: u.rem(2) solid hsl(0, 0%, 94%);
    }

    &--buttons {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      @include u.breakpoint-up(large) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    &--button {
      position: relative;
      padding: u.rem(20) 0;
      font-weight: 400;
      text-align: center;
      color: var(--grayishblue);
      border-top: u.rem(2) solid hsl(0, 0%, 94%);
      border-bottom: u.rem(2) solid hsl(0, 0%, 94%);

      @include u.breakpoint-up(large) {
        padding: 20px 80px;
        border-top: none;
        border-bottom: u.rem(2) solid hsl(0, 0%, 94%);
      }
    }

    &--button:hover {
      color: var(--softred);
      transition: color 300ms ease-in-out;
    }

    &--button:nth-child(2) {
      border: none;

      @include u.breakpoint-up(large) {
        padding: 20px 80px;
        border-top: none;
        border-bottom: u.rem(2) solid hsl(0, 0%, 94%);
      }
    }
  }
}

.has-underline {
  color: black;

  &::before {
    content: "";
    display: block;
    position: absolute;
    height: u.rem(4);
    width: 50%;
    left: 25%;
    right: 0;
    bottom: 0;
    background: var(--softred);

    @include u.breakpoint-up(large) {
      width: 100%;
      left: 0%;
    }
  }
}
