@use "../util" as u;

.form {
  background-color: var(--softblue);

  &__container {
    padding-bottom: u.rem(75);

    @include u.breakpoint-up(medium) {
      max-width: 60%;
      margin: 0 auto;
    }

    @include u.breakpoint-up(large) {
      max-width: 34%;
      margin: 0 auto;
    }
  }

  &__text {
    padding-top: u.rem(75);
    padding-bottom: u.rem(35);

    p {
      font-size: u.rem(10);
      text-transform: uppercase;
      color: var(--white);
      font-weight: 400;
      letter-spacing: u.rem(6);

      @include u.breakpoint-up(large) {
        font-size: u.rem(13);
        padding-bottom: u.rem(20);
      }
    }

    h3 {
      margin-top: u.rem(10);
      font-size: u.rem(24);
      color: var(--white);

      @include u.breakpoint-up(large) {
        font-size: u.rem(32);
      }
    }
  }

  &__input {
    @include u.breakpoint-up(large) {
      display: flex;
      gap: 20px;
    }

    &--input {
      width: 100%;
      padding: u.rem(15);
      border-radius: u.rem(5);
      border: none;

      &:focus {
        border: u.rem(2) solid var(--softred);
      }

      &::placeholder {
        color: var(--grayishblue);
        font-family: var(--font-body);
      }

      @include u.breakpoint-up(large) {
        flex: 3;
      }
    }

    &--button {
      display: flex;

      input {
        height: 100%;
        padding: 10px;
        margin-top: u.rem(16);
        width: 100%;
        font-weight: 700;
        font-size: u.rem(14);
        text-align: center;
        color: var(--white);
        border-radius: u.rem(5);
        background-color: var(--softred);
        border: u.rem(2) solid var(--softred);

        &:hover {
          color: var(--softred);
          background-color: white;
          border: u.rem(2) solid var(--softred);
          cursor: pointer;
          transition: all 300ms ease-in-out;
        }

        @include u.breakpoint-up(large) {
          flex: 1;
          margin-top: 0;
        }
      }
    }
  }
}
