@use "../util" as u;

.form {
  background-color: var(--softblue);
  &__container {
  }

  &__text {
    padding-top: 75px;
    padding-bottom: 35px;

    p {
      font-size: u.rem(10);
      text-transform: uppercase;
      color: var(--white);
      font-weight: 400;
      letter-spacing: 6px;
    }

    h3 {
      margin-top: 10px;
      font-size: u.rem(24);
      color: var(--white);
    }
  }

  &__input {
    &--button {
    }
  }
}
