@use "../util" as u;

.hero {
  @include u.breakpoint-up(large) {
    overflow-x: hidden;
  }

  &__container {
    overflow-x: hidden;
    padding-top: u.rem(40);

    @include u.breakpoint-up(large) {
      display: flex;
      align-items: center;
      overflow-x: visible;
    }
  }

  &__image {
    position: relative;
    height: u.rem(244);

    @include u.breakpoint-up(medium) {
      height: u.rem(450);
      width: 70%;
      left: 25%;
    }

    @include u.breakpoint-up(large) {
      height: u.rem(550);
      flex: 3;
      order: 2;
      left: -2%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 18%;
      right: 0;
      bottom: 0;
      left: 12%;
      width: 150%;
      background-color: var(--softblue);
      border-radius: u.rem(165);
    }

    &::after {
      content: "";
      position: absolute;
      top: -4%;
      right: -1%;
      bottom: -10%;
      left: -6%;
      background-image: url(../../../images/illustration-hero.svg);
      background-repeat: no-repeat;
      background-size: 107% 86%;
    }

    @include u.breakpoint-up(medium) {
      &::after {
        background-size: 106% 96%;
        bottom: 0;
        left: -7%;
        right: 0;
        top: 0;
      }

      &::before {
        border-radius: u.rem(180);
        bottom: 0;
        top: 23%;
      }
    }

    @include u.breakpoint-up(large) {
      &::after {
        background-size: 86% 90%;
        bottom: 0;
        left: 12%;
        right: 0;
        top: 0;
        width: 126%;
      }

      &::before {
        border-radius: u.rem(200);
        bottom: 6%;
        top: 28%;
        left: 45%;
      }
    }
  }

  &__text {
    padding: u.rem(60) 0;

    @include u.breakpoint-up(large) {
      flex: 2;
      order: 1;

      h1 {
        font-size: u.rem(40);
        text-align: start;
      }

      p {
        text-align: start;
      }
    }

    &--buttons {
      padding: u.rem(40) 0;
      display: flex;
      justify-content: center;
      gap: u.rem(11);

      @include u.breakpoint-up(large) {
        gap: u.rem(25);
        justify-content: flex-start;
      }
    }
  }
}

.button-chrome {
  color: var(--white);
  background-color: var(--softblue);
  padding: u.rem(15) u.rem(17);
  border-radius: u.rem(5);
  font-size: u.rem(14);
  font-weight: 500;
  box-shadow: 0rem u.rem(3) u.rem(12) rgba(0, 0, 0, 0.2);
  border: 2px solid var(--softblue);

  &:hover {
    background-color: var(--white);
    color: var(--softblue);
    transition: all 300ms ease-in-out;
  }

  @include u.breakpoint-up(large) {
    padding: u.rem(12) u.rem(20);
  }
}

.button-firefox {
  color: var(--black);
  background-color: hsl(0, 0%, 95%);
  padding: u.rem(15) u.rem(17);
  border-radius: u.rem(5);
  font-size: u.rem(14);
  font-weight: 500;
  box-shadow: 0rem u.rem(3) u.rem(12) rgba(0, 0, 0, 0.2);
  border: u.rem(2) solid hsl(0, 0%, 95%);

  &:hover {
    border-color: var(--black);
    background-color: var(--white);
    transition: all 300ms ease-in-out;
  }

  @include u.breakpoint-up(large) {
    padding: u.rem(12) u.rem(20);
  }
}
