@use "../util" as u;

.mobileMenu {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding: u.rem(40) u.rem(32);
  background: hsl(var(--verydarkblue) / 0.95);
  transform: translateX(100%);
  transition: transform 700ms ease-in-out;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: u.rem(30) 0;

    a {
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      color: var(--verylightgray);
      font-size: u.rem(18);
      font-weight: 400;
      border-top: u.rem(1) solid var(--dimgray);
      letter-spacing: u.rem(1);
      padding: u.rem(23) 0;

      :last-child {
        color: var(--white);
      }
    }

    a:hover {
      color: var(--white);
      transition: all 300ms ease-in-out;
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: u.rem(40);
    padding-top: u.rem(70);

    a {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: u.rem(2);
        width: 100%;
        left: 0;
        right: 1.5rem;
        bottom: u.rem(-8);
        background: #fff;
        opacity: 0;
        transition: opacity 200ms ease-in-out;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__login-button {
    border: u.rem(2) solid var(--white);
    border-radius: u.rem(5);
    padding: u.rem(8) 0;
  }
}

.mobileMenu__open {
  transform: translateX(0%);
}

.mobileMenu__noScroll {
  overflow-y: hidden;
}
