@use "../util" as u;

.plugins {
  &__container {
    padding-top: u.rem(130);
    padding-bottom: u.rem(130);
  }

  &__text {
    padding-bottom: 40px;

    @include u.breakpoint-up(medium) {
      margin: 0 auto;
      max-width: 60%;
    }

    @include u.breakpoint-up(large) {
      max-width: 44%;
      margin: 0 auto;
    }
  }

  &__cards {
    margin: 0 u.rem(20);

    @include u.breakpoint-up(large) {
      display: flex;
      max-width: u.rem(950);
      margin: 0 auto;
    }

    &--plugin {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: u.rem(60);
      padding-bottom: u.rem(30);
      margin-bottom: u.rem(40);
      border-radius: u.rem(15);
      box-shadow: 0 u.rem(3) u.rem(12) rgba(0, 0, 0, 0.1);

      .browser-logo {
        width: u.rem(102);
        height: u.rem(100);
        margin-bottom: u.rem(20);
      }

      a {
        background-color: var(--softblue);
        border: u.rem(2) solid var(--softblue);
        border-radius: u.rem(5);
        box-shadow: 0 u.rem(3) u.rem(12) rgba(0, 0, 0, 0.2);
        color: var(--white);
        font-size: u.rem(14);
        font-weight: 500;
        padding: u.rem(10) u.rem(30);
        margin-top: u.rem(20);

        &:hover {
          background-color: var(--white);
          color: var(--softblue);
          transition: all 300ms ease-in-out;
        }
      }

      p {
        padding-bottom: u.rem(30);

        @include u.breakpoint-up(large) {
          font-size: u.rem(15);
        }
      }

      img {
        max-width: 100%;
      }

      @include u.breakpoint-up(medium) {
        width: u.rem(320);
        height: u.rem(380);
        margin: u.rem(40) auto;
      }

      @include u.breakpoint-up(large) {
        position: relative;
        height: auto;
        width: auto;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 400ms ease-in-out;
      }
    }
  }

  &__chrome {
    @include u.breakpoint-up(large) {
    }
  }

  &__firefox {
    @include u.breakpoint-up(large) {
      top: u.rem(45);
    }
  }

  &__opera {
    @include u.breakpoint-up(large) {
      top: u.rem(90);
    }
  }
}
