@use "../util" as u;

.plugins {
  &__container {
    padding-top: u.rem(130);
    padding-bottom: u.rem(330);
  }

  &__text {
    padding-bottom: 40px;

    @include u.breakpoint-up(large) {
      max-width: 44%;
      margin: 0 auto;
    }
  }

  &__cards {
    margin: 0 20px;

    @include u.breakpoint-up(large) {
      display: flex;
      max-width: 950px;
      margin: 0 auto;
    }

    &--plugin {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
      padding-bottom: 30px;
      margin-bottom: 40px;
      border-radius: 15px;
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);

      .browser-logo {
        width: 102px;
        height: 100px;
        margin-bottom: 20px;
      }

      a {
        background-color: var(--softblue);
        border: 2px solid var(--softblue);
        border-radius: 0.3125rem;
        box-shadow: 0 0.1875rem 0.75rem rgba(0, 0, 0, 0.2);
        color: var(--white);
        font-size: u.rem(14);
        font-weight: 500;
        padding: 10px 30px;
        margin-top: 20px;

        &:hover {
          background-color: var(--white);
          color: var(--softblue);
          transition: all 300ms ease-in-out;
        }
      }

      p {
        padding-bottom: 30px;

        @include u.breakpoint-up(large) {
          font-size: u.rem(15);
        }
      }

      img {
        max-width: 100%;
      }

      @include u.breakpoint-up(medium) {
        width: 320px;
        height: 380px;
        margin: 40px auto;
      }

      @include u.breakpoint-up(large) {
        position: relative;
        height: auto;
        width: auto;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        transition: transform 400ms ease-in-out;
      }
    }
  }

  &__chrome {
    @include u.breakpoint-up(large) {
    }
  }

  &__firefox {
    @include u.breakpoint-up(large) {
      top: u.rem(45);
    }
  }

  &__opera {
    @include u.breakpoint-up(large) {
      top: u.rem(90);
    }
  }
}
