@use "../util" as u;

.subject {
  &__container {
    padding-bottom: u.rem(20);
  }

  &__content {
    @include u.breakpoint-up(large) {
      display: flex;
      align-items: center;
      gap: 30%;
    }

    &--image {
      position: relative;
      height: 244px;

      @include u.breakpoint-up(medium) {
        height: 450px;
        width: 70%;
        left: 5%;
      }

      @include u.breakpoint-up(large) {
        flex: 1;
        order: 1;
        height: 550px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 18%;
        right: 0;
        bottom: 0;
        left: -70%;
        width: 150%;
        background-color: var(--softblue);
        border-radius: 165px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 4%;
        right: 0;
        bottom: 10%;
        left: 0;
        background-image: url(../../../images/illustration-features-tab-1.svg);
        background-repeat: no-repeat;
        background-size: 100% 94%;
      }

      @include u.breakpoint-up(medium) {
        &::before {
          border-radius: 180px;
          bottom: 0;
          top: 23%;
          left: -73%;
        }

        &::after {
          background-size: 100% 85%;
          bottom: 0;
          left: 0;
          right: 0;
          top: 10%;
        }
      }

      @include u.breakpoint-up(large) {
        &::before {
          border-radius: 200px;
          bottom: 6%;
          left: -190%;
          top: 28%;
          width: 300%;
        }

        &::after {
          background-size: 100% 72%;
          bottom: -7%;
          left: -14%;
          right: -34%;
          top: 14%;
        }
      }
    }

    &--text {
      padding-top: u.rem(50);

      @include u.breakpoint-up(large) {
        flex: 1;
        order: 2;
        padding: 0;

        h2 {
          text-align: start;
        }

        p {
          padding-bottom: 24px;
          text-align: start;
        }

        a {
          padding: u.rem(10) u.rem(22);
          background-color: var(--softblue);
          border: 2px solid var(--softblue);
          border-radius: 0.3125rem;
          box-shadow: 0 0.1875rem 0.75rem rgba(0, 0, 0, 0.2);
          color: var(--white);
          font-size: u.rem(14);
          font-weight: 500;

          &:hover {
            background-color: var(--white);
            color: var(--softblue);
            transition: all 300ms ease-in-out;
          }
        }
      }
    }
  }
}

.speedy-img {
  &::after {
    background-image: url(../../../images/illustration-features-tab-2.svg);

    @include u.breakpoint-up(large) {
      background-size: 100% 84%;
      bottom: -7%;
      left: -14%;
      right: -40%;
      top: 12%;
    }
  }
}

.easy-img {
  &::after {
    background-image: url(../../../images/illustration-features-tab-3.svg);

    @include u.breakpoint-up(large) {
      background-size: 100% 82%;
      bottom: -3%;
      left: -14%;
      right: -34%;
      top: 12%;
    }
  }
}

.not-visible {
  display: none;
}
